* {
    box-sizing: border-box;
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
  }
.cv_name{
    font-family: 'Aleo', serif;
    font-family: 'Zen Dots', cursive;
    font-size: 48px;
}
h2{
    font-family: 'Aleo', serif;
    font-family: 'Zen Dots', cursive; 
}
.container{
    display: flex;
    justify-content: center;
}

.footer{
    display: inline;
    background-color: black;
}