.about {
  padding: 116px 0;
}

.about__container {
  display: flex;
  align-items: center;
}

.about__content {
  flex: 1 1 auto;
  padding-right: 20px;
}

.about__title {
  margin-bottom: 20px;
}

.about__text {
  max-width: 390px;
  line-height: 150%;
}

.about__image {
  text-align: center;
  flex: 0 0 53.2%;
}

.about__image img {
  max-width: 100%;
}

.about__languages {
  margin-top: 20px;
}

.languages__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.language {
  width: 70px;
  color: var(--accent-color);
}

@media (max-width: 1280px) {
  .about {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (max-width: 991.98px) {
  .about {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .about__container {
    flex-direction: column;
  }

  .about__content {
    text-align: center;
    padding-right: 0px;
    margin-bottom: 20px;
  }

  .about__text {
    max-width: none;
  }
}
