* {
    box-sizing: border-box;
  }
  .header{
    background: radial-gradient(100% 100% at 100% 0%, #5096F1 0%, #000 100%);
  }
  .nav{
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
  }
  .nav-list{
    display:flex;
    justify-content: space-between;
  }
  .nav-item{
    list-style: none;
  }
  .nav-link{
    text-decoration: none;
    text-transform: uppercase;
  }
.cv_header{
  display: flex;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
    color: aliceblue;
    font-family: 'Aleo', serif;
    font-family: 'Montserrat', sans-serif;
  }

.leftside{
  margin-right: 50px;
}
.socials{
  display: flex;
  justify-content: space-between;
}

.list-item{
list-style: none;
}

.cv_name{
    font-family: 'Aleo', serif;
    font-family: 'Zen Dots', cursive;
    font-size: 48px;
}
h2{
    font-family: 'Aleo', serif;
    font-family: 'Zen Dots', cursive;
}
.project_name{
    display: inline-block;
  position: relative;
  color: #0087ca;
}
.project{
  display: flex;
}
.project_name::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
.project_name:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.container{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.footer{
  max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cv-code{
  display: flex;
}
.code-task{
  width: 600px;
}